html, body{
    margin: 0;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10pt;
}
:focus{
    outline: none;
}
section{
    height: 100%;
    overflow: auto;
    background: linear-gradient(135deg, rgb(167, 223, 241), rgb(226, 226, 160));
    color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
section .leftPanel{
    width: 400px;
}
section .rightPanel{
    background: rgb(240, 238, 238);
    color: black;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
}
section .leftPanel h1{
    font-size: 40pt;
}
section .leftPanel p{
    font-size: 16pt;
}
section .rightPanel .caption{
    margin-top: 10px;
}
section .rightPanel input{
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 4px;
}
section .rightPanel .fpassword{
    margin-top: 5px;
    text-align: right;
}
section .rightPanel .fpassword span,
section .rightPanel .signup span{
    color: dodgerblue;
    cursor: pointer;
}
section .rightPanel .fpassword span:hover,
section .rightPanel .signup span:hover{
    color: blue;
}
section .rightPanel button{
    height: 40px;
    border: none;
    border-radius: 4px;
    background: dodgerblue;
    cursor: pointer;
    color: white;
    margin-top: 10px;
}
section .rightPanel button:hover{
    background: blue;
}
section .rightPanel .signup{
    margin-top: 30px;
}